---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import GetLocationButton from "../components/GetLocationButton.tsx";
import axios from "axios";

const addLocation =  () => {
	axios.post('/trpc')
}
---

<Layout title="Welcome to Astro.">
	<h1>
    Welcome to <span
      class="text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-green-500"
      >Electric Rescue</span>
	</h1>
  <div class="flex justify-center p-8">
    <button class="btn" onclick="">Responsive</button>
  </div>
  <GetLocationButton client:only />
  <script>
	  
	
  </script>
</Layout>


<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
