---
import { Auth0Provider } from "@auth0/auth0-react";
import Fotter from "../components/Fotter.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---
	<Auth0Provider
	domain="dev-nptz4bprn2bncygi.us.auth0.com"
  clientId="yb0V0gD9BOb8Jt1wfusg2o1pOGwzvMh6"
>
  <html data-theme="cyberpunk" lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
    </head>
    <body>
		<slot />
    </body>
	<Fotter/>
	</html>
</Auth0Provider>

